<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/globalStyle/normalize.css">
        <link rel="stylesheet" href="public/css/globalStyle/global.css">
        <link rel="stylesheet" href="public/css/globalStyle/navbar.css">
        <link rel="stylesheet" href="public/css/homePage/style.css">
        <script src="public/js/homePage/script.js"></script>
        <title>My Finance</title>
    </head>
    <body>
        <header>
            <h1>My Finance</h1>
        </header>
        <main>
            <h2>Manage finances</h2>

            <ul class="capitalList">
                <li><a id="redirectListCapital" href="#">Show capital</a></li>
            </ul>
        </main>
    </body>
</html>